@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Instrument+Serif&display=swap');

:root{
    --heading-font: "Bruno Ace SC", arial, sans-serif;
    --paragraph-font: "Insrument Serif", Helvetica, sans-serif;
}

#content{
    max-width: 1600px;
    margin: 0 auto;
}

header{
    background-color: #127FA3;
    display: grid;
    grid-template-columns: 150px auto;
}

footer{
    background-color: #127FA3;
    color:#B2D2F6;
    padding: 25px 50px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a{
    color: #B2D2F6;
    text-decoration: none;
}
footer a:hover{
    color: #000000
}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}

nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}
nav a:hover{
    background-color: #7B34E0;
    color:white
}

nav {
    display: flex;
    justify-content: space-around;
}

.logo{
    width: 80px;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

main{
    display: grid;
}

main img{
    width: 95%;
    margin-top: 15px;
    height: 90%;
}

.balance-books{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
}

.calculator{
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 5;
}

p{
    text-align: center;
    width: 95%;
    grid-column-start: 1;
    grid-column-end: 9;
    font-size: large;
}

.block1{
    grid-column-start: 5;
    grid-column-end: 9;
    justify-content: center;
    align-items: center;
}

.block2{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
}